<style>
.closed-menu {
    transform: translateX(300px);
    transition: transform 500ms linear; 
}

.opened-menu {
    transform: translateX(0px);
    transition: transform 500ms linear;
}
</style>
<script>
	var MobileMenu = document.getElementById('MobileMenu')
    
	function openMenu(){ 
		MobileMenu = document.getElementById('MobileMenu')
		MobileMenu.classList.remove('closed-menu');
		MobileMenu.classList.add('opened-menu');
	}
	const clickEvent = event =>{
		const targetEvent = event.target
		MobileMenu = document.getElementById('MobileMenu')
		if(MobileMenu != targetEvent){
			MobileMenu.classList.remove('opened-menu');
			MobileMenu.classList.add('closed-menu');
		}
	} 
	document.addEventListener("mousedown", clickEvent)
</script>
<% var BackgrounColor ="black" %>
<div
	id='MobileHeader' 
	class = "w-full bg-[<%= BackgrounColor %>] fixed top-0 left-0 right-0
		flex sm:hidden z-30 h-[50px] justify-between"
		>
		<a href = "/" class = "">
		<img 
			src = <%= typeof logoURL != 'undefined' ? logoURL : "../assets/images/SpeakeasyLogo-JustText.png"  %>
				class = "h-full w-auto cursor-pointer"
				alt = "logo"/>
			</a>
	<% if(typeof burgerMenu != "undefined") {%>
	<div class="my-auto cursor-pointer" onclick="openMenu()">
		<img
			id="MobileMenuIcon"
			src = <%= typeof burgerMenu  != "undefined" ? burgerMenu : "/../assets/icon/hamburger_menu_white.png"  %>
				class = " z-20 my-auto ml-auto mr-5 w-[35px] h-[35px]"
				alt = "logo"/>
			</div>
	<% } %> 
</div>
<div
	id='DesktopHeader' 
	class = "w-full bg-[<%= BackgrounColor %>] fixed top-0 left-0 right-0 h-[100px]
		hidden sm:flex z-30 justify-between  font-['DecoTech'] text-2xl uppercase"
		>
		<% if(typeof logoURL != "undefined") {%>
		<a href = "/">
			<img 
				src = <%= typeof logoURL != 'undefined' ? logoURL : "../assets/images/SpeakeasyLogo-JustText"  %>
					class = "h-full w-auto cursor-pointer userselect-none"
					alt = "logo"/>
				</a>
		<% } %>
		<div 
			id= "HeaderMenu"
			class = "flex text-white ml-auto mr-5 [&>*]:mx-[10px] my-auto cursor-pointer">
			<div
				class = "hover:underline hover:font-bold"
				onclick="location.href='/users'">Members</div>
			<div 
				class = "hover:underline hover:font-bold"
				onclick="location.href='/contact'">Contact</div>
			<% if(user) { %>
				<div>
					<div
						id="AccountLink"
						class = "hover:underline hover:font-bold flex">
						Account
						<div
							class ="border-white
							rounded-full border-[1px] p-1 mx-1 my-auto">
							<img
								src ="<%=DownArrow %>"
								class="w-[15px] h-[15px]  "
								alt ="arrow"/>
						</div>
					</div>
					<ul 
						id="AccountMenu"
						class="hidden grid absolute [&>a>li]:my-5 [&>a>li]:whitespace-nowrap
						">
						<a href ="/user/<%= user.id%>">
							<li class ="hover:underline">Your profile</li>
						</a>
						<a href ="/user/<%= user.id%>/update">
							<li class ="hover:underline">Edit profile</li>
						</a>
						<a href ="/logout">
							<li class ="hover:underline">Log Out</li>
						</a>
					</ul>
				</div>
			<% } else { %>
				<div
					class = "hover:underline hover:font-bold"
					onclick="location.href='/login'">Log In</div>
			<% } %>
		</div>
<script>
	const AccountLink = document.getElementById('AccountLink');
	const AccountMenu = document.getElementById('AccountMenu');
	AccountLink.addEventListener("click", ToggleAccountMenu);

	function ToggleAccountMenu(){
	if(AccountMenu.classList.contains('hidden')){
	AccountMenu.classList.remove('hidden');
	AccountMenu.classList.add('grid');
	}
	else{
	CloseAccountMenu();
	}
	}

	function CloseAccountMenu(){
	AccountMenu.classList.remove('grid');
	AccountMenu.classList.add('hidden');
	}

	function CheckIfClickedOutside(evt){
		if(AccountMenu.classList.contains('grid')){
			if(evt.target != AccountMenu){
				CloseAccountMenu();
			}
		}
	}

	document.addEventListener('mousedown', CheckIfClickedOutside);

</script>
</div>
