
<% 
	var columnStyle = "";  
	if(typeof SocialMediaLinks != 'undefined' && SocialMediaLinks.length > 0) {
		switch(SocialMediaLinks.length){
			case 1: 
				columnStyle = "block";
				break; 
			case 2: 
				columnStyle = "grid grid-cols-2";
				break;
			default: 
				columnStyle = "grid grid-cols-3";
				break; 
		}
	}
    var SocialStyle = "w-[100px] h-[100px] mx-auto my-[20px] cursor-pointer active:translate-x-[5px] active:translate-y-[5px]"

	const ReturnIcon = (type) =>{
		switch(type){
			case 'facebook':
				return facebookIcon;
				break;
			case 'discord':
				return discordIcon;
				break; 
			case 'instagram':
				return instagramIcon;
				break;
			case 'linkedin':
				return linkedinIcon;
				break;
			case 'tumblr':
				return tumblrIcon;
				break;
			case 'twitch':
				return twitchIcon;
				break;
			case 'twitter':
				return twitterIcon;
				break;
			case 'youtube':
				return youtubeIcon;
				break;
			default:
				return defaultIcon;
				break;
		}
	}

%>
<div
	class = "<%= columnStyle %> mt-10"
>
<% if(typeof SocialMediaLinks != 'undefined' && SocialMediaLinks.length > 0) { %> 
	<% SocialMediaLinks.forEach(link =>{ %> 
		<a 
			href ="<%= link.link.includes('http://') || link.link.includes('https://') ? link.link : `http://${link.link}` %>"
			target="_blank">
			<img 
				src ="<%= ReturnIcon(link.platform) %>" 
				alt = "<%= link.platform %> link" 
				class = "<%= SocialStyle %>"
				/>
		</a>
	<%})%>
<%}%>
</div>