<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Henry's Speakeasy</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel ="stylesheet" href='stylesheets/style.css'> 
  <link rel="icon" type="image/x-icon" href="/assets/images/SpeakeasyFavicon.ico">
</head>
<body 
    class = "bg-[url('<%= BackgroundURL %>')] h-auto bg-no-repeat bg-cover">
  <div 
  id="container"
  class = "w-full flex flex-col relative grow min-h-[120vh]">
      <div 
        id = "contentWrapper"
        class = "pb-[6.5rem]">
          <div class = "w-full mb-[135px]">
            <%- include("partials/header") %>
            <%- include("partials/MobileMenu") %>
          </div>
          <div class = "text-center">
             <h1 class = "font-[Chapleau] text-3xl text-black"><%= title %></h1>
             <div class = "w-11/12 mx-auto sm:w-5/12 ">
              <% if(typeof error != 'undefined' && typeof error.errors != 'undefined') {%> 
                  <div 
                    id="ErrorDiv"
                    class = "my-[50px] text-black w-full">
                    <h2 class = "font-bold">Error: </h2>
                    <% error.errors.forEach(val => { %> 
                        <p class = "text-white"><%= val.msg %></p>
                    <% }) %>
                  </div>
              <%}%>
                 <img 
                    src = "<%= UpperFrame %>" 
                     alt = "upper-frame"
                     class = "w-full h-auto" 
                     />
                  <form
                    action="/login" 
                    method="POST"
                    class="[&>div>label]:text-black [&>div>label]:uppercase [&>div>label]:font-bold [&>div]:grid [&>div>input]:rounded-lg 
                    [&>div]:w-full [&>div]:my-[10px] [&>div>input]:pl-3 [&>div>input]:bg-[rgba(0,0,0,0)] 
                    [&>div>input]:text-black [&>div>input]:border-white [&>div>input]:border-[1px]
                    bg-[#f2e798] rounded-md p-10 [&>div>input]:placeholder:text-[#545454] text-2xl
                    [&>div>input]:placeholder:text-base" 
                    id = "form">
                    <div>
                        <label for = "email">Your email</label>
                        <input 
                            name = "email" 
                            id = "emailInput"
                            type = "text"
                            placeholder = "Type your email here" 
                            required = "true"
                            class = ""
                            value = "<%= typeof user != 'undefined' ? user.email : null %>"
                            />
                    </div>
                    <div>
                        <label for = "subject">Subject Line</label>
                        <input 
                            name = "subject" 
                            id = "subjectInput"
                            type = "text"
                            placeholder = "Type your subject here" 
                            required = "true"
                            class = ""
                            value = "<%= typeof subject != 'undefined' ? subject : null %>"
                            />
                    </div>
                    <div>
                        <label for = "message">Message</label>
                        <textarea
                            name = "message" 
                            id = "messageInput"
                            type = "message"
                            placeholder = "Type your message here" 
                            rows="5"
                            required = "true"
                            class = "resize-none rounded-lg w-full p-1 bg-[rgba(0,0,0,0)] border-[1px] 
                            border-white placeholder:text-[#545454]"
                            /></textarea>
                    </div>
                    <%- include('partials/FormButtons')%>
                  </form>
                  <img 
                    src = "<%= BottomFrame %>" 
                    alt = "upper-frame"
                    class = "w-full h-auto" 
                     />
                </div>
          </div>
      </div>
      <%- include('partials/footer') %>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</body>
</html>