<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Henry's Speakeasy</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel ="stylesheet" href='/stylesheets/style.css'> 
  <link rel="icon" type="image/x-icon" href="/assets/images/SpeakeasyFavicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
</head>
<body class = "bg-[#555150] h-auto">
  <div 
  id="container"
  class = "w-full flex flex-col relative grow min-h-[120vh] font-['DecoTech'] text-[#f2e796]">
      <div 
        id = "contentWrapper"
        class = "pb-[6.5rem]">
          <div class = "w-full mb-[50px] sm:mb-[100px]">
            <%- include("partials/header") %>
            <%- include("partials/MobileMenu") %>
          </div>
          <div class = "text-center mt-[100px]">
            <div class = "[&>*]:inline-block [&>*]:mx-3 [&>*]:sm:mx-5 justify-between text-3xl whitespace-nowrap">
                <p class = "">EST.</p>
                 <img 
                    src = "/assets/images/HexagonShape.png" 
                    alt = "Hexagon"
                    class ="mx-auto my-10 w-[100px] h-[100px]"/>
                <p>2023</p>
            </div>
             <h1 class = "font-['DecoTech'] text-5xl text-[#f2e796] uppercase">Henry's Speakeasy</h1>
             <div class = "text-2xl">Exclusive Membership Club</div>
          </div>
          <% if(user) { %> 
          <div 
            id="CreateNewMessageDiv"
            class = "w-full my-10"
          >
               <% if(typeof error != 'undefined' && typeof error.errors != 'undefined') {%> 
                    <div 
                    id="ErrorDiv"
                    class = "my-[50px] text-black w-full">
                    <h2 class = "font-bold">Error: </h2>
                    <% error.errors.forEach(val => { %> 
                        <p class = "text-white"><%= val.msg %></p>
                    <% }) %>
                    </div>
                <%}%>
                <div
                id="OpenMessageButton"
                class = "rounded-full p-[10px] active:translate-x-[5px] active:translate-y-[5px] cursor-pointer
                border-white border-2 text-center w-[150px] select-none text-white mx-auto
                hover:bg-gray-800 bg-[#99cbae] text-3xl"
                onclick = "" 
                >Send Message</div>
                <%if(typeof user.username != 'undefined'){%>
                    <%- include('partials/mainPage/newMessage')%>
                <% } %>
          </div>
          <% } else { %>
                <h2 class = "text-white text-center text-2xl mt-10">New user?</h2>
                <div
                id="CreateAccountButton"
                class = "rounded-full p-[10px] active:translate-x-[5px] active:translate-y-[5px] cursor-pointer
                border-white border-2 text-center w-fit select-none text-white mx-auto
                hover:bg-gray-800 bg-[#99cbae] text-3xl whitespace-nowrap"
                onclick = "location.href='/register'" 
                >Create an account</div>
          <% }%>
          <% if(typeof messageList != 'undefined' && messageList.length > 0) { %> 
            <%- include('partials/mainPage/messageBoard')%>
          <%}%>
      </div>
      <%- include('partials/footer') %>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="<%= MessageScript %>"></script>
</body>
</html>