<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Henry's Speakeasy</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel ="stylesheet" href='stylesheets/style.css'> 
  <link rel="icon" type="image/x-icon" href="/assets/images/SpeakeasyFavicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
</head>
<body class = "bg-[url('<%= BackgroundURL %>')] h-auto">
  <div 
  id="container"
  class = "w-full flex flex-col relative grow min-h-[120vh] font-['DecoTech']">
      <div 
        id = "contentWrapper"
        class = "ContentWrapper">
          <div class = "w-full mb-[120px]">
            <%- include("partials/header") %>
            <%- include("partials/MobileMenu") %>
          </div>
          <div class = "text-center">
             <h1 class = "font-['DecoTech'] text-5xl text-black mt-[100px] uppercase"><%= title %></h1>
             <div class = "w-11/12 mx-auto sm:w-5/12 ">
              <% if(typeof error != 'undefined' && typeof error.errors != 'undefined') {%> 
                  <div 
                    id="ErrorDiv"
                    class = "my-[50px] text-black w-full">
                    <h2 class = "font-bold">Error: </h2>
                    <% error.errors.forEach(val => { %> 
                        <p class = "text-white"><%= val.msg %></p>
                    <% }) %>
                  </div>
              <%}%>
              <div>
                  <img 
                    src = "<%= UpperFrame %>" 
                     alt = "upper-frame"
                     class = "w-full h-auto" 
                     />
                  <form
                    action="/register" 
                    method="POST"
                    enctype="multipart/form-data"
                    class="[&>div>label]:text-black [&>div>label]:uppercase [&>div>label]:font-bold [&>div]:grid [&>div>input]:rounded-lg 
                    [&>div]:w-full [&>div]:my-[10px] [&>div>input]:pl-3 [&>div>input]:bg-[rgba(0,0,0,0)] 
                    [&>div>input]:text-black [&>div>input]:border-white [&>div>input]:border-[1px]
                    bg-[#f2e798] rounded-md p-10 [&>div>input]:placeholder:text-[#545454] text-2xl
                    [&>div>input]:placeholder:text-base" 
                    id = "form">
                    <div>
                        <label for = "username">Username</label>
                        <input 
                            name = "username" 
                            id = "nameInput"
                            type = "text"
                            placeholder = "Type your username here" 
                            required = "true"
                            class = ""
                            value = "<%= typeof username != 'undefined' ? username : null %>"
                            />
                    </div>
                    <div>
                        <label for = "email">Email</label>
                        <input 
                            name = "email" 
                            id = "emailInput"
                            type = "text"
                            placeholder = "Type your email here" 
                            required = "true"
                            class = ""
                            value = "<%= typeof email != 'undefined' ? email : null %>"
                            />
                    </div>
                    <div>
                        <label for = "profile_pic">Profile picture</label>
                        <input 
                            name = "profile_pic" 
                            id = "profile_picInput"
                            type = "file"
                            placeholder = "Upload an image for your your profile picture here" 
                            class = "file:rounded-lg file:font-['DecoTech'] file:bg-[#99cbae]
                            file:text-white cursor-pointer"
                            value = "<%= typeof profile_pic != 'undefined' ? profile_pic : null %>"
                            />
                    </div>
                    <div>
                        <label for = "password">password</label>
                        <input 
                            name = "password" 
                            id = "passwordInput"
                            type = "password"
                            placeholder = "Type your password here" 
                            required = "true"
                            class = ""
                            value = "<%= typeof password != 'undefined' ? password : null %>"
                            />
                    </div>
                    <div>
                        <label for = "confirm_password">Confirm your password</label>
                        <input 
                            name = "confirm_password" 
                            id = "confirm_passwordInput"
                            type = "password"
                            placeholder = "Re-type your password here to confirm" 
                            required = "true"
                            class = ""
                            value = "<%= typeof confirm_password != 'undefined' ? confirm_password : null %>"
                            />
                    </div>
                    <%- include('partials/FormButtons')%>
                    <hr class = "my-[25px] h-[2px] border-[2px]">
                    <h2 class = "my-10 text-center text-lg">Already have an account with us?</h2>
                    <button 
                        type = "button"
                        onClick = "location.href='/login'"
                        class = "rounded-full p-[10px] active:translate-x-[5px] active:translate-y-[5px] cursor-pointer
                        border-white border-2 text-center w-[150px] select-none text-black mx-auto
                        hover:bg-[#d48518] bg-[#e48f1a]"
                    >Log In</button>
                  </form>
                  <img 
                    src = "<%= BottomFrame %>" 
                    alt = "upper-frame"
                    class = "w-full h-auto" 
                     />
              </div>
            </div>
		</div>
      </div>
      <%- include('partials/footer') %>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <%- include('partials/authentication/validateRegistration')%>
</body>
</html>