<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Henry's Speakeasy</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel ="stylesheet" href='/stylesheets/style.css'> 
  <link rel ="stylesheet" href='/stylesheets/tailwind.css'> 
  <link rel="icon" type="image/x-icon" href="/assets/images/SpeakeasyFavicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
</head>
<body class = "bg-[url('<%= BackgroundURL %>')] h-auto">
  <div 
  id="container"
  class = "w-full flex flex-col relative grow min-h-[120vh] font-['DecoTech']">
      <div 
        id = "contentWrapper"
        class = "ContentWrapper">
          <div class = "w-full mb-[120px]">
            <%- include("../partials/header") %>
            <%- include("../partials/MobileMenu") %>
          </div>
          <div class = "text-center">
             <h1 class = "font-['DecoTech'] text-5xl text-black mt-[100px] uppercase"><%= title %></h1>
             <div class = "w-11/12 mx-auto sm:w-5/12 ">
              <% if(typeof error != 'undefined' && error.length > 0) {%> 
                  <div 
                    id="ErrorDiv"
                    class = "my-[10px] text-black w-full bg-[rgba(255, 255, 255, 0.75)] p-5 text-3xl">
                    <h2 class = "font-bold">Error: </h2>
                    <ul>
                    <% error.forEach(err => { %> 
                        <li class = ""><%= err.msg %></li>
                    <%}) %> 
                    </ul>
                  </div>
              <%}%>
              <div>
                  <img 
                    src = "<%= UpperFrame %>" 
                     alt = "upper-frame"
                     class = "w-full h-auto select-none" 
                     />
                  <form
                    action="" 
                    method="POST"
                    class="[&>div>label]:text-black [&>div>label]:uppercase [&>div>label]:font-bold [&>div]:grid [&>div>input]:rounded-lg 
                    [&>div]:w-full [&>div]:my-[10px] [&>div>input]:pl-3 [&>div>input]:bg-[rgba(0,0,0,0)] 
                    [&>div>input]:text-black [&>div>input]:border-white [&>div>input]:border-[1px]
                    bg-[#f2e798] rounded-md p-10 [&>div>input]:placeholder:text-[#545454] text-2xl
                    [&>div>input]:placeholder:text-base" 
                    id = "form">
                    <div>
                        <label for = "current_password">Current password</label>
                        <input 
                            name = "current_password" 
                            id = "current_passwordInput"
                            type = "password"
                            placeholder = "Type your current password here" 
                            class = ""
                            value = "<%= typeof password != 'undefined' ? password : null %>"
                            />
                    </div>
                    <div>
                        <label for = "password">New password</label>
                        <input 
                            name = "password" 
                            id = "passwordInput"
                            type = "password"
                            placeholder = "Type your password here" 
                            required = "true"
                            class = ""
                            value = "<%= typeof password != 'undefined' ? password : null %>"
                            />
                    </div>
                    <div>
                        <label for = "confirm_password">Confirm your new password</label>
                        <input 
                            name = "confirm_password" 
                            id = "confirm_passwordInput"
                            type = "password"
                            placeholder = "Re-type your new password here to confirm" 
                            required = "true"
                            class = ""
                            value = "<%= typeof confirm_password != 'undefined' ? confirm_password : null %>"
                            />
                    </div>
                    <%- include('../partials/FormButtons')%>

                  </form>
                  <img 
                    src = "<%= BottomFrame %>" 
                    alt = "upper-frame"
                    class = "w-full h-auto select-none" 
                     />
              </div>
            </div>
		</div>
      </div>
      <%- include('../partials/footer') %>
      <%- include('../partials/authentication/validatePasswordChange')%>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</body>
</html>
