<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Henry's Speakeasy</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel ="stylesheet" href='../stylesheets/style.css'> 
  <link rel ="stylesheet" href='../stylesheets/tailwind.css'> 
  <link rel="icon" type="image/x-icon" href="/assets/images/SpeakeasyFavicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
</head>
<body 
    class = "bg-[#555150] h-auto font-['DecoTech'] relative 
    before:bg-[url('<%= BackgroundImageURL %>')] before:absolute before:h-full before:w-full
    before:bg-cover before:top-0 before:left-0 before:right-0 before:opacity-60 before:z-[-2]
    before:bg-no-repeat  before:brightness-50 before:bg-center">
  <div 
  id="container"
  class = "w-full flex flex-col relative grow min-h-[120vh]">
      <div 
        id = "contentWrapper"
        class = "pb-[6.5rem]">
          <div class = "w-full mb-[135px]">
            <%- include("../partials/header") %>
            <%- include("../partials/MobileMenu") %>
          </div>
          <div class = "w-11/12 mx-auto sm:w-5/12 ">
          <% if(typeof error != 'undefined' && typeof error.errors != 'undefined') {%> 
              <div 
                id="ErrorDiv"
                class = "my-[50px] text-black w-full">
                  <h2 class = "font-bold">Error: </h2>
                  <% error.errors.forEach(val => { %> 
                  <p class = "text-white"><%= val.msg %></p>
                  <% }) %>
              </div>
          <%}%>
          <% if(user && (user.member || userDetail._id == user.id)) { %>
          <h1
            class = "text-center text-white text-5xl"
          ><%= title %></h1>
          <% } else { %> 
          <h1
            class = "text-center text-white text-5xl"
          >Anonymous's Profile</h1>
          <%}%>
            <%- include('./profilePicDisplay') %>
            <% if(user && userDetail._id == user.id) {%>
                <div 
                    onclick = "location.href='/user/<%= user.id %>/update'"
                    class = "rounded-full p-[10px] active:translate-x-[5px] active:translate-y-[5px] cursor-pointer
                    border-white border-2 text-center w-[150px] select-none text-white mx-auto
                    hover:bg-gray-800 bg-[#f9bb28] mt-[10px] text-2xl"
                >Edit Profile</div>
            <% } %>
            <% if(typeof userDetail.joinedDate != 'undefined') {%> 
                <p class = "text-[#dbdbdb] text-2xl my-10 text-center">
                    Date Joined: <%= userDetail.JoinDateFormatted %>
                </p>
            <%}%>
            <div id = "MembershipStatus"
                class = "text-2xl text-center"
            >
                <span class = "text-[#dbdbdb]">Membership status: </span>
                <% if(userDetail.member) {%> 
                    <% if(userDetail.admin) { %> 
                        <span class = "text-[#e48f1a]">Admin</span>  
                    <% } else { %> 
                        <span class = "text-[#f9bb28]">Speakeasy Member</span>
                    <% } %>
                <% } else { %> 
                    <span class = "text-white">Guest</span>
                <%}%>
            </div>
            <% if(typeof userDetail.favoriteDrink != 'undefined' && userDetail.favoriteDrink.length > 0) { %> 
                <h2
                    class = "text-center text-3xl text-[#ffffff] mt-[30px] uppercase"
                >Favorite Drink<%= userDetail.favoriteDrink.length > 1 ? 's' : '' %><h2>
                <ul class = "text-center text-2xl text-[#dbdbdb]">
                <% userDetail.favoriteDrink.forEach(drink =>{ %> 
                    <li><%= drink %></li>
                <%})%>
                </ul>
            <%}%>
            <% if(typeof userDetail.biography != 'undefined' && userDetail.biography != "") {%> 
            <div class = "border-white border-[1px] rounded-md mt-10 py-10 px-5">
                <h3 class = "text-3xl text-white  text-center uppercase">Biography</h3>
                <p class = "text-[#dbdbdb] text-2xl">
                    &#09;<%= userDetail.biography %>
                </p>
            </div>
            <%}%>
            <%- include('../partials/social_media') %>
          </div>
          <% if(typeof messageList != 'undefined' && messageList.length > 0) { %> 
            <h2 class = "text-white text-center text-4xl mt-[30px]">Messages Posted</h2>
            <%- include('../partials/mainPage/messageBoard') %>
          <%}%>
      </div>
      <%- include('../partials/footer') %>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</body>
</html>