<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Henry's Speakeasy</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel ="stylesheet" href='/stylesheets/style.css'> 
  <link rel ="stylesheet" href='/stylesheets/tailwind.css'> 
  <link rel="icon" type="image/x-icon" href="/assets/images/SpeakeasyFavicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
</head>
<body class = "bg-[url('<%= BackgroundURL %>')] h-auto font-['DecoTech'] ">
  <div 
  id="container"
  class = "w-full flex flex-col relative grow min-h-[120vh]">
      <div 
        id = "contentWrapper"
        class = "ContentWrapper">
          <div class = "w-full mb-[64px] xm:mb-[100px] sm:mb-[135px]">
            <%- include("../header") %>
            <%- include("../MobileMenu") %>
          </div>
          <div class = "w-11/12 mx-auto sm:w-5/12 ">
          <% if(typeof error != 'undefined' && typeof error.errors != 'undefined') {%> 
              <div 
                id="ErrorDiv"
                class = "my-[50px] text-black w-full">
                  <h2 class = "font-bold">Error: </h2>
                  <% error.errors.forEach(val => { %> 
                  <p class = "text-white"><%= val.msg %></p>
                  <% }) %>
              </div>
          <%}%>
          </div>
            <div class = "w-11/12 mx-auto sm:w-5/12">
                <img 
                src = "<%= UpperFrame %>" 
                alt = "upper-frame"
                class = "w-full h-auto select-none" 
                    />
                <div class="text-center my-10">
                    <h1 class = "text-4xl"><%= title %></h1>
                    <p class = "text-3xl">You will be redirected to the homepage.</p>
                </div>
                <img 
                src = "<%= BottomFrame %>" 
                alt = "upper-frame"
                class = "w-full h-auto select-none" 
                    />
          </div>
      </div>
      <%- include('../footer') %>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</body>
<script>
    setTimeout(()=>{
        window.location.href = "/";
    }, 4000)
</script>
</html>